<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto | Oni Daishou &copy; </title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Iansui&family=Reggae+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="social-icons">
            <a href="https://www.facebook.com"><img src="../images/facebook.png" width="360" height="360" alt="Facebook"> ¡Síguenos aquí! </a>
            <a href="https://x.com"><img src="../images/x-logo.png" width="350" height="350" alt="X"> ¡Síguenos aquí!</a> 
            <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" alt="Instagram"> ¡Síguenos aquí!</a> 
          </div>
        <div class="logo-title">
          <img src="../images/logo.png" class="logo" width="1024" height="1024" alt="Logo Oni Daishou">
        <div class="titulo-texto">
          <h1 class="titulo">Templo Oni Daishou</h1>
          <hr class="separador">
          <h3 class="subtitulo">Desata tu demonio interior</h3>
        </div>
        </div>
        <nav class="menu">
          <a href="/index.html">Inicio</a>
          <a href="/views/servicios.html">Servicios</a>
          <a href="/views/sobrenosotros.html">Sobre nosotros</a>
          <a href="/views/reservas.html">Reservas</a>
          <a href="/views/contacto.html" class="active">Contacto</a>
        </nav>
    </header>
  <div class="main-container">
    
    <div class="info-section">
      <section class="socials">
        <h2>Redes Sociales</h2>
        <p>Puedes escribirnos por cualquiera de nuestras redes sociales:<br>
          <a href="https://x.com">X</a> | <a href="https://www.facebook.com">Facebook</a> | <a href="https://www.instagram.com">Instagram</a>
        </p>
      </section>

      <section class="address">
        <h2>Dirección</h2>
        <p>
          <strong>Calle:</strong> Calle del Oni 666<br>
          <strong>Ciudad:</strong> Madrid<br>
          <strong>País:</strong> España<br>
          <strong>Código Postal:</strong> 28028<br>
          <strong>Correo electrónico:</strong> <a href="mailto:contacto@onidaishou.com">contacto@onidaishou.com</a><br>
          <strong>Teléfono:</strong> 6161xxxx61<br>
        </p>
      </section>

      <section class="discord">
        <h2>Únete a nuestro servidor de Discord</h2>
        <p>¡Forma parte de nuestra comunidad y entérate de todas las novedades y eventos exclusivos!</p>
        <a href="https://discord.com" class="button">Únete ahora</a>
      </section>
    </div>

    <div class="map-box">
      <h2>Ubicación en el mapa</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.2823230835637!2d-3.6727214!3d40.4401796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228f1063a7e6d%3A0xc0a87ab3a9ddcaa4!2sAv.%20de%20Am%C3%A9rica%2C%20Madrid!5e0!3m2!1ses!2ses!4v1715619412696!5m2!1ses!2ses"
        width="100" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
   <footer>
    <p>&copy; 2025 | Templo Oni Daishou. Todos los derechos reservados.</p>
    <p>
      <a href="#">Política de privacidad</a> | 
      <a href="#">Términos de servicio</a> | 
    <p>
      <a href="#">Contacto</a>
      <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" class="footer-icon" alt="Instagram">Instagram</a> |
      <a href="https://discord.com"><img src="../images/discord-logo.png" width="512" height="512" class="footer-icon" alt="Discord">Discord</a> |
      <a href="https://x.com"><img src="../images/x-logo.png" width="512" height="512" class="footer-icon" alt="X">X</a> |
      <a href="https://www.facebook.com"><img src="../images/facebook.png" width="512" height="512" class="footer-icon" alt="Facebook">Facebook</a> |
    </p>
  </footer>
</body>
</html>
