<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios | Oni Daishou &copy;</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Iansui&family=Reggae+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="social-icons">
            <a href="https://www.facebook.com"><img src="../images/facebook.png" width="360" height="360" alt="Facebook"> ¡Síguenos aquí! </a>
            <a href="https://x.com"><img src="../images/x-logo.png" width="350" height="350" alt="X"> ¡Síguenos aquí!</a> 
            <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" alt="Instagram"> ¡Síguenos aquí!</a>
        </div>
        <div class="logo-title">
          <img src="../images/logo.png" class="logo" width="1024" height="1024" alt="Logo Oni Daishou">
        <div class="titulo-texto">
          <h1 class="titulo">Templo Oni Daishou</h1>
          <hr class="separador">
          <h3 class="subtitulo">Desata tu demonio interior</h3>
        </div>
        </div>
        <nav class="menu">
          <a href="/index.html">Inicio</a>
          <a href="/views/servicios.html" class="active">Servicios</a>
          <a href="/views/sobrenosotros.html">Sobre nosotros</a>
          <a href="/views/reservas.html">Reservas</a>
          <a href="/views/contacto.html">Contacto</a>
        </nav>
      </header>
<section class="servicios">
  <div class="zona">
    <img src="../images/pro.jpg" width="825" height="544" alt="Pro Gaming Zone">
    <div class="info">
      <h3>Pro Gaming Zone</h3>
      <p>Aquí encontraras nuestra joya de la corona, equipo de alto rendimiento, última generación de componentes, refrigeración líquida, y los mejores periféricos
        para que tu experiencia de juego sea la mejor posible.</p>
    </div>
  </div>

  <div class="zona">
    <img src="../images/streams.png" width="421" height="320" alt="Streaming Zone">
    <div class="info">
      <h3>Streaming Zone</h3>
      <p>¿Eres un streamer de renombre, o quieres empezar en el mundo pero no tienes donde hacerlo? ¡Entonces ven y prueba nuestra sala, totalmente insonorizada para que puedas 
        dar rienda suelta a tu creatividad! Con internet y ancho de banda de alta velocidad, y con un equipo de última generación para que tu streaming sea digno de un Oni Daishou!</p>
    </div>
  </div>

  <div class="zona">
    <img src="../images/basic.jpg" width="768" height="432" alt="Basic Zone">
    <div class="info">
      <h3>Basic Zone</h3>
      <p>¿Te gusta jugar, pero se te eleva demasiado el presupuesto? ¿O quizá te interese echarte un rato con tus amigos? Esta es nuestra mejor opción, y la más conveniente para 
        aquellos que buscan una experiencia de juego casual. Con PCs de gama media, y con un precio asequible para todos los bolsillos.</p>
    </div>
  </div>

  <div class="zona">
    <img src="../images/console.jpg" width="662" height="356" alt="Console Zone">
    <div class="info">
      <h3>Console y Simulation Zone</h3>
      <p>¿De toda la vida has sido más de consolas que de PC? Entonces disfrutarás con nuestra variedad de consolas de la última generación... ¡y retro! Desde PS1 hasta la 5, GameCube, Xbox
        e incluso recreativas de los 80 y 90, ¡y todo con un precio asequible! ¿A qué esperas? ¡Ven y prueba!</p>
    </div>
  </div>

  <div class="zona">
    <img src="../images/torneos.jpg" width="612" height="408" alt="Torneos">
    <div class="info">
      <h3>Torneos</h3>
      <p>¿Tienes un equipo y te gustaría llegar a lo más alto? ¡Inscribete con tus colegas y disfruta de nuestros torneos mensuales, con premios increibles, hasta en metálico y tickets de 
        descuento para tu estancia en Oni Daishou, o en videojuegos y periféricos! ¡No te lo pierdas!</p>
    </div>
  </div>
</section>
   <footer>
    <p>&copy; 2025 | Templo Oni Daishou. Todos los derechos reservados.</p>
    <p>
      <a href="#">Política de privacidad</a> | 
      <a href="#">Términos de servicio</a> | 
    <p>
      <a href="#">Contacto</a> | 
      <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" class="footer-icon" alt="Instagram">Instagram</a> |
      <a href="https://discord.com"><img src="../images/discord-logo.png" width="512" height="512" class="footer-icon" alt="Discord">Discord</a> |
      <a href="https://x.com"><img src="../images/x-logo.png" width="512" height="512" class="footer-icon" alt="X">X</a> |
      <a href="https://www.facebook.com"><img src="../images/facebook.png" width="512" height="512" class="footer-icon" alt="Facebook">Facebook</a> |
    </p>
  </footer>
</body>
</html>