<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nosotros | Oni Daishou &copy;</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Iansui&family=Reggae+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="social-icons">
            <a href="https://www.facebook.com"><img src="../images/facebook.png" width="360" height="360" alt="Facebook"> ¡Síguenos aquí! </a>
            <a href="https://x.com"><img src="../images/x-logo.png" width="350" height="350" alt="X"> ¡Síguenos aquí!</a> 
            <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" alt="Instagram"> ¡Síguenos aquí!</a>
          </div>
        <div class="logo-title">
          <img src="../images/logo.png" class="logo" width="1024" height="1024" alt="Logo Oni Daishou">
        <div class="titulo-texto">
          <h1 class="titulo">Templo Oni Daishou</h1>
          <hr class="separador">
          <h3 class="subtitulo">Desata tu demonio interior</h3>
        </div>
        </div>
        <nav class="menu">
          <a href="/index.html">Inicio</a>
          <a href="/views/servicios.html">Servicios</a>
          <a href="/views/sobrenosotros.html" class="active">Sobre nosotros</a>
          <a href="/views/reservas.html">Reservas</a>
          <a href="/views/contacto.html">Contacto</a>
        </nav>
      </header>
      <main class ="sb-imagen">
      <section class="bloques-kanji-triangulo">
  <div class="fila-superior">
    <div class="bloque bloque-izquierda">
      <span class="kanji">武士</span>
      <h2>¿Quiénes somos?</h2>
      <p>Somos <strong>Oni Daishou</strong>, tu centro de gaming de confianza, desenvuelvete y juega como un verdadero yokai, saca tu potencial
      con nuestro equipamiento totalmente nuevo y actualizado, tanto de PC como de consolas, simuladores y demás, ¿a qué esperas? ¡ven y únete a nosotros!</p>
    </div>

    <div class="bloque bloque-derecha">
      <span class="kanji">道</span>
      <h2>¿A qué nos dedicamos?</h2>
      <p>Nos dedicamos a dar rienda suelta a que gente de todas las edades, puedan disfrutar de los videojuegos a la mejor calidad posible, seas un usuario de ordenadores, o de consola
        o si quieres emprender tu camino en el mundo del streaming, aquí en tu cibercafé <strong>Oni Daishou</strong> te sentirás como en casa y todo, con un precio flexible para todos.
        ¿Estás listo para ser uno de los nuestros? ¡Ven y desata tu Oni interior!</p>
    </div>
  </div>

  <div class="bloque bloque-central">
    <span class="kanji">心</span>
    <h2>Nuestro equipo </h2>
    <p>¿Nunca te ha entrado esas ganas de ser parte del equipo? Oni Daishou está en busca de talentos, para formar parte de nuestro equipo competitivo de eSports, ¿eres mas de shooters, como CS:GO
      Valorant, Rainbow Six, o eres más de juegos de lucha como Street Fighter, o Tekken, o eres del tipo MOBA como el League of Legends? ¡Contacta con nosotros y únete a nuestro equipo!</p>
  </div>
      </section>
      </main>

<footer>
    <p>&copy; 2025 | Templo Oni Daishou. Todos los derechos reservados.</p>
    <p>
      <a href="#">Política de privacidad</a> | 
      <a href="#">Términos de servicio</a> | 
    <p>
      <a href="#">Contacto</a> | 
      <a href="https://www.instagram.com"><img src="../images/insta-logo.png" width="512" height="512" class="footer-icon" alt="Instagram">Instagram</a> |
      <a href="https://discord.com"><img src="../images/discord-logo.png" width="512" height="512" class="footer-icon" alt="Discord">Discord</a> |
      <a href="https://x.com"><img src="../images/x-logo.png" width="512" height="512" class="footer-icon" alt="X">X</a> |
      <a href="https://www.facebook.com"><img src="../images/facebook.png" width="512" height="512" class="footer-icon" alt="Facebook">Facebook</a> |
    </p>
      </footer>
</body>
</html>